<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Sandow Fitness</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <!-- Иконки -->
        <icon src="./src/img/icon.png" density="mdpi" />
        <icon src="./src/img/icon.png" density="hdpi" />
        <icon src="./src/img/icon.png" density="xhdpi" />
        <icon src="./src/img/icon.png" density="xxhdpi" />
        <icon src="./src/img/icon.png" density="xxxhdpi" />

        <!-- Заставки -->
        <splash src="res/splash/android/preview.png" density="mdpi"/>
        <splash src="res/splash/android/preview.png" density="hdpi"/>
        <splash src="res/splash/android/preview.png" density="xhdpi"/>
        <splash src="res/splash/android/preview.png" density="xxhdpi"/>
        <splash src="res/splash/android/preview.png" density="xxxhdpi"/>
    </platform>

        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="@drawable/splash" />        
        <preference name="AndroidWindowSplashScreenBackgroundColor" value="#ffffff" />
        <preference name="AndroidWindowSplashScreenDuration" value="3000" /> 
</widget>
